.pinterest--container {
    display: grid;    
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.pinterest--block {
    position: relative;
    display: grid;
    justify-items: center;
}